@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $lightGray;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  max-width: 800px;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    font-size: 2.3rem;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
}

.simple-editor {
  width: 100%;
  margin-bottom: 8rem;
  display: flex;
  background-color: $white;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form {
  padding: 0.6rem;
  flex-basis: 50%;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $white;

  &__header {
    font-weight: 700;
    font-size: 2rem;
  }

  &__wrapper {
    text-align: left;
    width: 100%;
    max-width: 300px;
  }

  &__title {
    &--input {
      width: 100%;
      border: none;
      margin-top: 0.3rem;
      padding: 0.7rem 0.5rem;
      font-size: 0.8rem;
      background: $gray;
    }
  }

  &__content {
    &--input {
      width: 100%;
      border: none;
      margin-top: 0.3rem;
      padding: 0.7rem 0.5rem;
      font-size: 0.8rem;
      height: 100px;
      background: $gray;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
  }

  &__button {
    padding: 0.7rem 2.5rem;
    border-radius: 20px;
    border: 2px solid $orange;
    background: $orange;
    color: $white;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease-in-out,
                background 0.3s ease-in-out,
                border 0.3s ease-in-out;
    & + &--load {
      margin-left: 0.5rem;
      background: $pink;
      border: 2px solid $pink;
    }

    &--save:hover {
      color: $orange;
      background: $white;;
      border: 2px solid $orange;
    }

    &--load:hover {
      color: $pink;
      background: $white;
      border: 2px solid $pink;
    }
  }
}

.hello {
  padding: 0.6rem;
  color: $white;
  flex-basis: 50%;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    padding: 0 2rem;
  }

  &__message {
    font-size: 0.9rem;
    padding: 2rem;
    max-width: 300px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: $mobile) {

  html {
    font-size: 12px;
  }

  .main-container {
    padding: 2rem;
  }

  .simple-editor {
    flex-direction: column;
  }

  .form {
    order: 2;

    &__wrapper {
      max-width: 250px;
    }

    &__buttons {
      justify-content: center;
      margin-right: 0;
    }
  }

  .hello {
    order: 1;
    padding: 4rem 0;
  }
}
